VITE_SUPABASE_URL=https://uvwvkvlplbiqtmfktwuf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2d3ZrdmxwbGJpcXRtZmt0d3VmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5MDYwMDQsImV4cCI6MjEwMDQ4MjAwNH0.ORwfUDUIY5-YXUDxGQmBG1GP8L44RTXeCXi4Yh1JrPI
